  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <%= link_to "Annuler", article_path(@article), class: 'btn btn-default' %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to "Supprimer l'article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default' %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to "Revenir à l'index", articles_path, class: 'btn btn-default' %>
    </div>
  </div>
