<h1>Article#index</h1>
<p>Find me in app/views/article/index.html.erb</p>
<%= link_to "Écrire un nouvel article", new_article_path %>

<ul>
<% @articles.each do |article| %>
  <li><%= article.title %> <%= link_to "Lire", article_path(article) %></li>
</ul>
<% end %>
